<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><h1>Siddharth,N01580148</h1></header>
    <main>
        {{{body}}}
    </main>
    <footer>N01580148@humber.ca</footer>
  </body>
</html>